*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,rgb(101, 110, 67),rgb(18, 19, 18));
}
.calculator{
    border: 2px solid rgb(158, 148, 10);
    padding: 20px ;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(36, 95, 214, 0.5);
}
input{
    width: 320px;
    border: 2px solid rgb(241, 242, 245);
    padding: 34px ;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px gold;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: rgb(29, 185, 206);
}
input::placeholder{
    color: rgb(133, 194, 47);
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: rgb(248, 245, 250);
    font-size: 25px;
    box-shadow: -8px -8px 15px rgba(8, 61, 61, 0.911);
    cursor: pointer;
}
button:hover{
    
    color: gold;

}
.equal{
    background-color: rgb(80, 46, 134);
}
.operator{
    color: rgb(69, 221, 9);
}
